<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>964963629394-cafkdl15hksvfmb1fciptqqcmuc5frku.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.964963629394-cafkdl15hksvfmb1fciptqqcmuc5frku</string>
	<key>API_KEY</key>
	<string>AIzaSyD-BzAzOubtoIBhLM1fC1zqzJxYY6nLeV4</string>
	<key>GCM_SENDER_ID</key>
	<string>964963629394</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.kingfishernative</string>
	<key>PROJECT_ID</key>
	<string>kingfisher-d6ef0</string>
	<key>STORAGE_BUCKET</key>
	<string>kingfisher-d6ef0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:964963629394:ios:5d9ea4900633e4ff</string>
	<key>DATABASE_URL</key>
	<string>https://kingfisher-d6ef0.firebaseio.com</string>
</dict>
</plist>