@import "./Bulma.scss";

.title-underlined {
  margin: auto;
  max-width: 400px;
  padding-bottom: 0.5em;
  border-bottom: 2px solid $primary;
  margin-bottom: 1em;
}

.subtitle-underlined {
  padding-top: 1em;
}

.column {
  display: flex;
  align-items: stretch;
}
.card-image-container {
  border: 2px solid #888;
}

.card-image {
}

.card {
  max-width: 448px;
}

.centered {
  margin: auto;
  text-align: center;
}