@import "../node_modules/bulma/sass/utilities/initial-variables";

$dark: #252B38;
$green: #48B040;

$primary: $green;
$info: $dark;
$tabs-link-hover-border-bottom-color: $primary;
$tabs-link-hover-color: $primary;


@import "../node_modules/bulma/bulma";